# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/
.Python

# Ignore Node.js modules and lock files
brendan-chatbot/
node_modules/
package-lock.json

# Ignore system files
.DS_Store

# Ignore build and distribution directories
build/
dist/
*.egg-info

# Ignore environment variables file
.env
